body, html{
    background-color: #333;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    /*box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);*/
}

.table {
    margin-top: 10px;
}

td {
    color: #fff;
}

.table-editor {
    background-color: #333;
}

.lower {
    border-top-style: dashed !important;
}

.upper {
    border-bottom-style: dashed !important;
}

.faded {
    color: dimgray;
}

.highlighted {
    color: rgb(190, 30, 30)
}

.lect {
    font-weight: bold;
}

